@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--fondo);
    color: var(--texto);
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
a {
    transition: color 0.3s ease;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}